html {
    box-shadow: 0 0 5px gray;
    padding: 1%;
    margin: 1%;
    background-color: lightgoldenrodyellow;
    display: flex;
}

.header {
    border: 1px solid black;
    background-color: brown;
    flex: 1;
}